/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #1979ca;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 15%;
  border-radius: 5px;
  margin: 20px 5px 5px 25px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
}

.tablink:hover {
  background-color: #fff;
  color: #1979ca;
  transition: all 0.2s ease-out;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #1979ca;
  padding: 100px 20px;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  color: #1979ca;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: center;
} 

th {
  background-color: #fff;
  color: #1979ca;
}

tr:nth-child(even) {
  background-color: #1979ca
}

#Logs {
  background-color: #fff;
}

#Graph {
  background-color: #fff;
}

/* Map tab content */
#Map {
  width: auto;
  height: auto;
}

/* Map's 2D display */
.map-detail {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 40%;
}

/* The NPK contents and the left-right nav buttons */
.soil-npk-content {
  /* border: 1px solid #ccc; */
  margin-left: 55%;
  margin-top: 5%;
  height: 40%;
  width: 40%;
  position: relative;
}

/* The list */
.soil-npk-content > .npk-text > ul > li {
  list-style-position: inside;
  list-style-type: none;
  font-size: 20px;
}

.soil-npk-content > .npk-text > ul > li:nth-child(1n + 2) {
  margin-top: 5%;
  text-align: center;
}

.soil-npk-content > .npk-text > ul > li:first-child {
  margin-top: 0%;
  text-align: center;
  font-weight: bold;
}

.soil-npk-content > .nav {
  width: 10%;
  height: 10%;
  top: 35%;
}

.soil-npk-content > .nav-left {
  position: absolute;
  left: 10%;
}

.soil-npk-content > .nav-right {
  position: absolute;
  right: 0%;
}

.soil-npk-content > .nav > path:hover {
  display: block;
  fill: #519edd;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.page-indicator {
  display: block;
  margin: auto;
}