/* Set height of body and the document to 100% to enable "full page tabs" */
body,
html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Style tab links */
.tablink {
  background-color: #1979ca;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 10%;
  border-radius: 5px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

#real-time {
  display: block;
  position: fixed;
  margin-left: 85%;
  color: #fff;
}

.title {
  display: block;
  position: fixed;
  margin-left: 50%;
  font-weight: bold;
  color: #fff;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #1979ca;
  padding: 100px 20px;
}

.header {
  background: #1979ca;
  position: fixed;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.header-nav {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

/* Style the table */
table {
  border-collapse: collapse;
  width: 100%;
  color: #1979ca;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
}

.validation-color {
  background-color: #ffc355 !important;
}

/* The sensor selection of chart */
.selector-box select {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  border: 1px solid #197aca8a;
  background: #fff;
  appearance: button;
  outline: none;
  color: #1979ca;
  width: fit-content;
  height: 5%;
}

.selector-box {
  display: inline-flex;
  margin-left: 75%;
}

.node-selection-prompt {
  font-size: 15px;
}

.node-selection {
  padding: 5px;
  margin-left: 15px;
}

th {
  background-color: #fff;
  color: #1979ca;
}

tr:nth-child(even) {
  background-color: #1979ca;
}

#Logs {
  background-color: #fff;
}

#Graph {
  position: relative;
  background-color: #fff;
}

/* Map tab content */
#Map {
  width: auto;
  height: auto;
}

/* Map's 2D display */
.map-detail {
  position: absolute;
  margin-left: 10%;
  width: 40%;
  height: 40%;
}

.f-path {
  fill: #c1e082;
  stroke: none;
}

/* The MAP contents and the left-right nav buttons */
.soil-npk-content {
  /* border: 1px solid #ccc; */
  margin-left: 55%;
  margin-top: 5%;
  height: 40%;
  width: 40%;
  position: relative;
}

/* The soil type */
.soil-npk-content > .npk-text > ul > li {
  list-style-position: inside;
  list-style-type: none;
  font-size: 20px;
}

/* The NPK contents */
.soil-npk-content > .npk-text > ul > li:nth-child(1n + 2) {
  margin-top: 5%;
  text-align: center;
  font-weight: 300;
}

.soil-npk-content > .npk-text > ul > li:first-child {
  margin-top: 0%;
  text-align: center;
  font-weight: bold;
}

.soil-npk-content > .nav {
  width: 10%;
  height: 10%;
  top: 35%;
}

.soil-npk-content > .nav-left {
  position: absolute;
  left: 10%;
}

.soil-npk-content > .nav-right {
  position: absolute;
  right: 0%;
}

.soil-npk-content > .nav > path:hover {
  display: block;
  fill: #519edd;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.page-indicator {
  display: block;
  margin: auto;
}
